# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Environment variables
credentials.json
token.json
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Visual Studio Code
.vscode/

# Temporary files
*.tmp
*.swp
*.bak
*.old